<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration file for the admin console. This file must 
  live in the root of the plugin's directory.
-->
<plugin>
    <class>com.helloworld.HelloWorldPlugins</class>
    <name>helloworld</name>
    <description>First Openfire Custom Plugin.</description>
    <author>xiejinbo</author>
    <version>1.0.0</version>
    <date>12/107/2019</date>
    <minServerVersion>4.2.3</minServerVersion>
    
    <adminconsole>
    </adminconsole>
</plugin>
